In [ ]:
#Rascunho projeto Datathon passos Magicos

In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl
import os

### DADO EXTERNO AINDA NAO USAR AINDA

In [2]:
# Valores de indice de desemprego, quantidade disponivel

In [3]:
# df_educacao  = pd.read_csv('/Users/marco/Downloads/microdados_saeb_2021_educacao_infantil/Dados/TS_EDUCACAO_INFANTIL_2021.csv',sep="|",encoding = "ISO-8859-1")

In [4]:
df_educacao

NameError: name 'df_educacao' is not defined

### DADDOS PASSOS MAGICOS

In [4]:
df = pd.read_csv('/Users/marco/Library/CloudStorage/OneDrive-Fiap-FaculdadedeInformáticaeAdministraçãoPaulista/POS_FIAP_ALURA/DATATHON-MATERIAIS_PASSOSMAGICOS/PEDE_PASSOS_DATASET_FIAP.csv',sep=';')

In [9]:
def separa_ano_pedra(ano:object , df : pd.DataFrame):
    nome_colunas = list(df.filter(regex=ano))
    nome_colunas.insert(0,'NOME')
    df=df[nome_colunas].copy()
    return df

In [10]:
def converter_lista_campos(lista_colunas : list, df :pd.DataFrame):
    for coluna in lista_colunas:
        df[coluna] = pd.to_numeric(df[coluna], errors='coerce')  # 'coerce' converte valores inválidos em NaN

In [16]:
df.columns

Index(['INSTITUICAO_ENSINO_ALUNO_2020', 'NOME', 'IDADE_ALUNO_2020',
       'ANOS_PM_2020', 'FASE_TURMA_2020', 'PONTO_VIRADA_2020', 'INDE_2020',
       'INDE_CONCEITO_2020', 'PEDRA_2020', 'DESTAQUE_IEG_2020',
       'DESTAQUE_IDA_2020', 'DESTAQUE_IPV_2020', 'IAA_2020', 'IEG_2020',
       'IPS_2020', 'IDA_2020', 'IPP_2020', 'IPV_2020', 'IAN_2020', 'FASE_2021',
       'TURMA_2021', 'INSTITUICAO_ENSINO_ALUNO_2021',
       'SINALIZADOR_INGRESSANTE_2021', 'PEDRA_2021', 'INDE_2021', 'IAA_2021',
       'IEG_2021', 'IPS_2021', 'IDA_2021', 'IPP_2021', 'REC_EQUIPE_1_2021',
       'REC_EQUIPE_2_2021', 'REC_EQUIPE_3_2021', 'REC_EQUIPE_4_2021',
       'PONTO_VIRADA_2021', 'IPV_2021', 'IAN_2021', 'NIVEL_IDEAL_2021',
       'DEFASAGEM_2021', 'FASE_2022', 'TURMA_2022', 'ANO_INGRESSO_2022',
       'BOLSISTA_2022', 'INDE_2022', 'CG_2022', 'CF_2022', 'CT_2022',
       'PEDRA_2022', 'DESTAQUE_IEG_2022', 'DESTAQUE_IDA_2022',
       'DESTAQUE_IPV_2022', 'IAA_2022', 'IEG_2022', 'IPS_2022', 'IDA_2022',
       'NOTA_PORT_2022', 'NOTA_MAT_2022', 'NOTA_ING_2022', 'QTD_AVAL_2022',
       'IPP_2022', 'REC_AVA_1_2022', 'REC_AVA_2_2022', 'REC_AVA_3_2022',
       'REC_AVA_4_2022', 'INDICADO_BOLSA_2022', 'PONTO_VIRADA_2022',
       'IPV_2022', 'IAN_2022', 'NIVEL_IDEAL_2022'],
      dtype='object')

In [67]:
df[['NOME','FASE_TURMA_2020']]

            NOME FASE_TURMA_2020
0        ALUNO-1              2H
1        ALUNO-2             NaN
2        ALUNO-3              3H
3        ALUNO-4              1D
4        ALUNO-5              2M
...          ...             ...
1344  ALUNO-1345             NaN
1345  ALUNO-1346             NaN
1346  ALUNO-1347              7B
1347  ALUNO-1348              3R
1348  ALUNO-1349             NaN

[1349 rows x 2 columns]

In [ ]:
 = 'ALUNO-2'

In [12]:
df_2020 = separa_ano_pedra('2020',df=df)
df_2021 = separa_ano_pedra('2021',df=df)
df_2022 = separa_ano_pedra('2022',df=df)
df_2023 = separa_ano_pedra('2023',df=df)

### 2020

In [ ]:
#converter valor dos campos
campos = ['IDADE_ALUNO_2020','IDADE_ALUNO_2020','ANOS_PM_2020','INDE_2020','IAA_2020','IEG_2020','IEG_2020','IPS_2020',
'IDA_2020','IPP_2020','IPV_2020','IAN_2020']

converter_lista_campos(lista_colunas=campos,df = df_2020)

#Ajustar campo de FASE_TURMA

df_2020_fs07['FASE_TURMA_2020_AJUSTADO'] = df_2020_fs07['FASE_TURMA_2020'].str.replace('[C,B,F,A,G]','',regex=True)

In [ ]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NOME                           1349 non-null   object
 1   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 2   IDADE_ALUNO_2020               727 non-null    float64
 3   ANOS_PM_2020                   727 non-null    float64
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      727 non-null    float64
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       727 non-null    float64
 13  IEG_2020                       727 non-null    float64
 14  IPS_2020                       727 non-null    float64
 15  IDA_2020                       727 non-null    float64
 16  IPP_2020                       727 non-null    float64
 17  IPV_2020                       727 non-null    float64
 18  IAN_2020                       727 non-null    float64
dtypes: float64(10), object(9)
memory usage: 200.4+ KB

In [ ]:
df_2020.head(5)

,NOME,INSTITUICAO_ENSINO_ALUNO_2020,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,DESTAQUE_IDA_2020,DESTAQUE_IPV_2020,IAA_2020,IEG_2020,IPS_2020,IDA_2020,IPP_2020,IPV_2020,IAN_2020
0,ALUNO-1,Escola Pública,11.0,2.0,2H,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa integração aos...,8.50002,8.7,7.500,7.0,5.9375,7.750000,10.0
1,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALUNO-3,Escola Pública,12.0,2.0,3H,Não,7.856390,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa integração aos...,7.91667,8.9,7.500,5.5,8.1250,8.111113,10.0
3,ALUNO-4,Escola Pública,10.0,2.0,1D,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Ponto a melhorar em 2021: Integrar-se mais aos...,8.00002,4.1,6.875,0.0,7.1875,7.750000,5.0
4,ALUNO-5,Escola Pública,10.0,1.0,2M,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Seu destaque em 2020: As suas boas notas na Pa...,Seu destaque em 2020: A sua boa integração aos...,7.50002,8.0,7.500,7.5,8.4375,8.166665,10.0

In [64]:
df_2020['FASE_TURMA_2020'].isnull().sum()

621

In [ ]:
df_2020.IAA_2020.value_counts()

IAA_2020
9.00002     123
9.50002      85
8.50002      70
9.16668      55
10.00002     47
8.75001      44
9.58335      43
7.91667      40
8.00002      37
8.33334      35
7.50000      21
0.00000      21
7.50002      12
6.91668      11
7.41668      10
7.08333      10
7.91668       9
6.24999       6
6.66667       5
6.66666       4
7.00002       3
7.91668       3
5.83334       3
5.41667       2
8.91668       2
5.83332       2
6.25001       2
8.41668       2
6.25000       2
7.08334       2
7.50001       2
4.58334       2
7.41668       2
5.83333       2
8.33335       1
3.49998       1
6.33335       1
8.33335       1
7.33334       1
5.41666       1
6.83334       1
6.41668       1
Name: count, dtype: int64

In [ ]:
df_IAA_2020_dif = df_2020[(df_2020['IAA_2020'] <= 3) & (df_2020['IPS_2020'] >= 7)]

In [ ]:
df_2020_fs07 = df_IAA_2020_dif[['NOME','FASE_TURMA_2020','IDADE_ALUNO_2020','IAA_2020','IPS_2020']]

df_2020_fs07

            NOME FASE_TURMA_2020  IDADE_ALUNO_2020  IAA_2020  IPS_2020
54      ALUNO-55              6C              17.0       0.0       7.5
205    ALUNO-206              6B              16.0       0.0       7.5
677    ALUNO-678              2F              10.0       0.0       7.5
1091  ALUNO-1092              6A              16.0       0.0       7.5
1240  ALUNO-1241              2G              11.0       0.0       7.5
1251  ALUNO-1252              6B              16.0       0.0       7.5
1287  ALUNO-1288              6B              16.0       0.0       7.5
1292  ALUNO-1293              2C              12.0       0.0       7.5

In [ ]:
df_2020_fs07['FASE_TURMA_2020_AJUSTADO'] = df_2020_fs07['FASE_TURMA_2020'].str.replace('[C,B,F,A,G]','',regex=True)

/var/folders/yy/j7q__sds4d7_4kx430yt5khr0000gn/T/ipykernel_1611/572630088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_fs07['FASE_TURMA_2020_AJUSTADO'] = df_2020_fs07['FASE_TURMA_2020'].str.replace('[C,B,F,A,G]','',regex=True)

In [ ]:
df_2020_fs07

,NOME,FASE_TURMA_2020,IDADE_ALUNO_2020,IAA_2020,IPS_2020,FASE_TURMA_2020_AJUSTADO
54,ALUNO-55,6C,17.0,0.0,7.5,6
205,ALUNO-206,6B,16.0,0.0,7.5,6
677,ALUNO-678,2F,10.0,0.0,7.5,2
1091,ALUNO-1092,6A,16.0,0.0,7.5,6
1240,ALUNO-1241,2G,11.0,0.0,7.5,2
1251,ALUNO-1252,6B,16.0,0.0,7.5,6
1287,ALUNO-1288,6B,16.0,0.0,7.5,6
1292,ALUNO-1293,2C,12.0,0.0,7.5,2

### 2021

In [ ]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NOME                           1349 non-null   object
 1   FASE_2021                      686 non-null    float64
 2   TURMA_2021                     686 non-null    object
 3   INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 4   SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 5   PEDRA_2021                     686 non-null    object
 6   INDE_2021                      686 non-null    object
 7   IAA_2021                       686 non-null    float64
 8   IEG_2021                       686 non-null    float64
 9   IPS_2021                       686 non-null    float64
 10  IDA_2021                       686 non-null    float64
 11  IPP_2021                       686 non-null    float64
 12  REC_EQUIPE_1_2021              686 non-null    object
 13  REC_EQUIPE_2_2021              686 non-null    object
 14  REC_EQUIPE_3_2021              686 non-null    object
 15  REC_EQUIPE_4_2021              686 non-null    object
 16  PONTO_VIRADA_2021              686 non-null    object
 17  IPV_2021                       686 non-null    float64
 18  IAN_2021                       686 non-null    float64
 19  NIVEL_IDEAL_2021               686 non-null    object
 20  DEFASAGEM_2021                 686 non-null    float64
dtypes: float64(9), object(12)
memory usage: 221.4+ KB

In [21]:
df_2021.head(5)

,NOME,FASE_2021,TURMA_2021,INSTITUICAO_ENSINO_ALUNO_2021,SINALIZADOR_INGRESSANTE_2021,PEDRA_2021,INDE_2021,IAA_2021,IEG_2021,IPS_2021,...,IPP_2021,REC_EQUIPE_1_2021,REC_EQUIPE_2_2021,REC_EQUIPE_3_2021,REC_EQUIPE_4_2021,PONTO_VIRADA_2021,IPV_2021,IAN_2021,NIVEL_IDEAL_2021,DEFASAGEM_2021
0,ALUNO-1,2.0,G,Rede Decisão,Ingressante,Ametista,7.319,7.5,6.3,6.9,...,7.7,Promovido de Fase,Promovido de Fase,Mantido na Fase atual,Não avaliado,Não,8.1,5.0,Nível 3 (7o e 8o ano),-1.0
1,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALUNO-3,3.0,F,Escola Pública,Veterano,Ametista,7.021,7.1,6.9,6.3,...,7.3,Promovido de Fase,Promovido de Fase,Mantido na Fase atual,Não avaliado,Não,7.2,10.0,Nível 3 (7o e 8o ano),0.0
3,ALUNO-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALUNO-5,2.0,L,Escola Pública,Veterano,Ametista,7.399,7.4,7.5,7.5,...,8.5,Promovido de Fase,Mantido na Fase atual,Mantido na Fase atual,Não avaliado,Não,7.4,10.0,Nível 2 (5o e 6o ano),0.0

In [30]:
df_2021['DEFASAGEM_2021'].value_counts()

DEFASAGEM_2021
-1.0    317
 0.0    249
-2.0     93
 1.0     16
-3.0      8
-4.0      2
 3.0      1
Name: count, dtype: int64

### 2022

In [ ]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NOME                 1349 non-null   object
 1   FASE_2022            862 non-null    float64
 2   TURMA_2022           862 non-null    object
 3   ANO_INGRESSO_2022    862 non-null    float64
 4   BOLSISTA_2022        862 non-null    object
 5   INDE_2022            862 non-null    float64
 6   CG_2022              862 non-null    float64
 7   CF_2022              862 non-null    float64
 8   CT_2022              862 non-null    float64
 9   PEDRA_2022           862 non-null    object
 10  DESTAQUE_IEG_2022    862 non-null    object
 11  DESTAQUE_IDA_2022    862 non-null    object
 12  DESTAQUE_IPV_2022    862 non-null    object
 13  IAA_2022             862 non-null    float64
 14  IEG_2022             862 non-null    float64
 15  IPS_2022             862 non-null    float64
 16  IDA_2022             862 non-null    float64
 17  NOTA_PORT_2022       860 non-null    float64
 18  NOTA_MAT_2022        860 non-null    float64
 19  NOTA_ING_2022        285 non-null    float64
 20  QTD_AVAL_2022        862 non-null    float64
 21  IPP_2022             862 non-null    float64
 22  REC_AVA_1_2022       862 non-null    object
 23  REC_AVA_2_2022       862 non-null    object
 24  REC_AVA_3_2022       626 non-null    object
 25  REC_AVA_4_2022       285 non-null    object
 26  INDICADO_BOLSA_2022  862 non-null    object
 27  PONTO_VIRADA_2022    862 non-null    object
 28  IPV_2022             862 non-null    float64
 29  IAN_2022             862 non-null    float64
 30  NIVEL_IDEAL_2022     862 non-null    object
dtypes: float64(17), object(14)
memory usage: 326.8+ KB

In [ ]:
df_2022.columns

Index(['NOME', 'FASE_2022', 'TURMA_2022', 'ANO_INGRESSO_2022', 'BOLSISTA_2022',
       'INDE_2022', 'CG_2022', 'CF_2022', 'CT_2022', 'PEDRA_2022',
       'DESTAQUE_IEG_2022', 'DESTAQUE_IDA_2022', 'DESTAQUE_IPV_2022',
       'IAA_2022', 'IEG_2022', 'IPS_2022', 'IDA_2022', 'NOTA_PORT_2022',
       'NOTA_MAT_2022', 'NOTA_ING_2022', 'QTD_AVAL_2022', 'IPP_2022',
       'REC_AVA_1_2022', 'REC_AVA_2_2022', 'REC_AVA_3_2022', 'REC_AVA_4_2022',
       'INDICADO_BOLSA_2022', 'PONTO_VIRADA_2022', 'IPV_2022', 'IAN_2022',
       'NIVEL_IDEAL_2022'],
      dtype='object')

In [70]:
(df_2022['NIVEL_IDEAL_2022'].value_counts().tolist)

<bound method IndexOpsMixin.tolist of NIVEL_IDEAL_2022
Fase 2 (5º e 6º ano)       218
Fase 3 (7º e 8º ano)       207
Fase 1 (4º ano)             96
Fase 4 (9º ano)             85
ALFA  (2º e 3º ano)         71
Fase 5 (1º EM)              63
Fase 6 (2º EM)              52
Fase 7 (3º EM)              48
Fase 8 (Universitários)     22
Name: count, dtype: int64>

In [ ]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NOME                           1349 non-null   object
 1   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 2   IDADE_ALUNO_2020               728 non-null    object
 3   ANOS_PM_2020                   728 non-null    object
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      728 non-null    object
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       728 non-null    object
 13  IEG_2020                       728 non-null    object
 14  IPS_2020                       728 non-null    object
 15  IDA_2020                       728 non-null    object
 16  IPP_2020                       728 non-null    object
 17  IPV_2020                       728 non-null    object
 18  IAN_2020                       728 non-null    object
dtypes: object(19)
memory usage: 200.4+ KB